body {
    background-color: #a0c6d0;
    background-image: url("https://hr-john.github.io/elektrilevi/ressources/Windmill.jpeg");
    background-size: cover;
    color: azure;
}
 P {
  margin:0;
  text-indent: 2em;
}
 
 .ct-series-a .ct-line {
  /* Set the colour of this series line */
  fill: green;
  line: red;
  /* Control the thikness of your lines */  stroke-width: 5px;
  /* Create a dashed line with a pattern */  stroke-dasharray: 10px 20px;
}