body {
    background-image: url("https://hr-john.github.io/elektrilevi/ressources/Windmill.jpeg") ;
    background-size: cover;
    text-align: center;
}
h1 {
    color: whitesmoke;
}
table {
    margin-left: auto;
    margin-right: auto;
}
p { margin:0; text-indent: 2em }

a {
    color: whitesmoke;
}
a:hover {
    color: #333;
}

.grid-container {
    display: grid;
    gap: 5px 5px;
    grid-template-columns: auto;
    grid-template-rows: auto, auto, auto;
    justify-content: center;
}
.grid-item1 {
    grid-row: 1 / 3;
    margin-bottom: 10px;
    padding: 10px;
}
.grid-item2 {
    grid-row: 2 / 3;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
}
.grid-item2 {
    grid-row: 3 / 3;
    padding: 10px;
}






.ct-series-a .ct-line {
    /* Set the colour of this series line */
    fill: green;
    line: red;
    /* Control the thikness of your lines */ stroke-width: 5px;
    /* Create a dashed line with a pattern */ stroke-dasharray: 10px 20px;
}