body {
    background-image: url("https://hr-john.github.io/elektrilevi/ressources/Windmill.jpeg") ;
    background-size: cover;
    text-align: center;
    font-size: 1.25em;
}

h1 {
    color: whitesmoke;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
th, td{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
th {
    border-bottom: 1px black solid;
}
th:nth-child(1), th:nth-child(2),
td:nth-child(1), td:nth-child(2) {
    border-right: 1px black solid;
}
tr:nth-child(1) {
    background-color: rgba(255, 255, 255, 0.85);
}
tr:hover {
    background-color: rgba(255, 255, 255, 0.85);
}

p {
    margin:0;
    text-indent: 2em;
}

a {
    color: #3A3A3A;
    font-size: 1.25em;
}
a:hover {
    color: #777;
}

.grid-container {
    display: grid;
    gap: 5px 5px;
    grid-template-columns: auto;
    grid-template-rows: auto, auto, auto;
    justify-content: center;
}
.grid-item1 {
    grid-row: 1;
    margin-bottom: 10px;
    padding: 10px;
}
.grid-item2 {
    grid-row: 2;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
}
.grid-item3 {
    grid-row: 3;
    padding: 10px;
}

.container {
    display: grid;
    gap: 5px 5px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    padding: 15px;
}
.item1 {
    grid-column: 1;
}
.item2 {
    grid-column: 2;
}
.item3 {
    grid-column: 1;
}
.item4 {
    grid-column: 2;
}
.item5 {
    grid-column: 1 / span 2;
}





.ct-series-a .ct-line {
    /* Set the colour of this series line */
    fill: green;
    line: red;
    /* Control the thikness of your lines */ stroke-width: 5px;
    /* Create a dashed line with a pattern */ stroke-dasharray: 10px 20px;
}